body {
	margin: 0;
	font-family: 'JetBrains Mono', 'Noto Sans Symbols 2', sans-serif;
	position: relative;
}

body::after {
	content: '';
	display: block;
	height: 75px;
}

.resize-animation-stopper * {
	animation: none !important;
	transition: none !important;
}

ul {
	list-style-type: none;
}

.top {
	display: flex;
	justify-content: space-between;
	height: 100vh;
	align-items: center;
}

.pane {
	float: center;
	justify-content: center;
}

.left-pane {
	width: 30vw;
	height: 100vh;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
	clip-path: inset(0px -500px 0px 0px);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	overflow: hidden;
}

.main-logo {
	margin-top: 15vh;
	background-image: url("../images/logo_alt.svg");
	animation: changeBg 1s infinite;
	background-size: cover;
	width: 80%;
	aspect-ratio: 1/1;
}

.right-pane {
	width: 70vw;
	height: 100vh;
	background-color: #d5dadd;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

@media screen and (max-width: 800px) {
	.right-pane {
		display: none !important;
		width: 0 !important;
	}

	.left-pane {
		width: 100vw !important;
		height: 101% !important;
		box-shadow: none !important;
	}

	.mouse_scroll {
		display: none !important;
	}

	.button {
		margin-top: 10vh;
		font-size: 24px !important;
		margin-bottom: 15vh !important;
		color: white !important;
		border-width: 0 !important;
		background-attachment: fixed;
		background-size: auto 90vh;
		transition: background 0.3s ease-in-out;
	}

	.button:hover {
		background: black !important;
	}

	.logo {
		display: none !important;
	}

	.main-logo {
		margin-top: 0 !important;
		width: 80vw !important;
		max-width: 500px !important;
	}

	.content-img-div {
		display: none !important;
	}

	ul {
		padding-inline-start: 0;
	}

	.link-list {
		font-size: 36px !important;
		line-height: 96px !important;
	}

	.text {
		margin-top: 50px;
		margin-bottom: 50px;
		width: 80% !important;
	}
}

@media screen and (max-height: 600px) {
	.mouse_scroll {
		display: none !important;
	}

	.main-logo {
		margin-top: 0 !important;
	}

	.top {
		height: 600px !important;
	}

	.pane {
		height: 600px !important;
	}
}

.right-pane>p {
	/*font-style: italic;*/
	color: white;
	padding: 10px 20px;
	background-color: black;
	margin-bottom: 0;
	font-size: 1vw;
}

.logo {
	background-image: url("../images/logo_small.svg");
	background-size: cover;
	float: right;
	margin: 50px;
	height: 100px;
	width: 100px;
	transition: 0.3s;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
}

.logo:hover {
	filter: invert(1);
}

@keyframes changeBg {

	0%,
	49%,
	100% {
		background-image: url("../images/logo.svg");
	}

	50%,
	99% {
		background-image: url("../images/logo_alt.svg");
	}
}

.button {
	border: 2px solid black;
	text-align: center;
	color: black;
	display: inline-block;
	font-size: 1vw;
	text-decoration: none;
	padding: 5px 10px;
	transition: 0.2s;
}

.button:hover {
	background-color: black;
	color: white;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	height: 75px;
}

.middle-black {
	background-color: black;
}

.middle {
	color: white;
	width: 100%;
	min-height: 75vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.link-list {
	font-size: 3vw;
	line-height: 7vw;
}

.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 0.5s ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

.link-list a {
	color: #b4c3ca;
	transition: 0.2s;
}

.link-list a:hover {
	color: black;
	background-color: #b4c3ca;
}

.middle-white {
	background-color: white;
	color: black;
}

.title-projects {
	background-image: url("../images/pendulum.png");
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 40%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.title-projects p {
	font-size: 9vw;
}

.content-img-div {
	width: 35%;
	display: flex;
	flex-flow: column nowrap;
	row-gap: 3%;
}

.content-img-div div {
	display: flex;
	justify-content: flex-end;
	color: #adb4b8;
}

.content-img-div img {
	height: 60%;
	width: auto;
	object-fit: cover;
}


#typewrite {
	display: inline;
	text-align: right;
	cursor: pointer;
	transition: color 0.2s;
}

#typewrite:hover {
	color: white;
}

#typewrite:hover+#caret {
	color: white;
}

#caret {
	display: inline;
	text-align: right;
	width: 0;
	transition: color 0.2s;
}

.content-img-div img {
	height: 100%;
	width: auto;
}

.text {
	width: 40%;
}

.text a {
	text-decoration: underline;
	transition: 0.2s;
}

.text a:hover {
	color: white;
	background-color: black;
	text-decoration: none;
}





/* Mouse stuff */
.mouse_scroll {
	cursor: pointer;
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: auto;
}


.m_scroll_arrows {
	display: block;
	width: 5px;
	height: 5px;
	transform: rotate(45deg);
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0 0 3px 4px;

	width: 10px;
	height: 10px;
}

.unu,
.doi,
.trei {
	animation: mouse-scroll 1s infinite;
	animation-direction: alternate;
}

.unu {
	margin-top: 1px;
	animation-delay: alternate;
}

.doi {
	animation-delay: .2s;
	margin-top: -6px;
}

.trei {
	animation-delay: .3s;
	margin-top: -6px;
}

.mouse {
	height: 32px;
	width: 18px;
	border-radius: 10px;
	transform: none;
	border: 1px solid black;
	top: 170px;
}

.wheel {
	height: 5px;
	width: 2px;
	display: block;
	margin: 5px auto;
	background: black;
	position: relative;

	height: 4px;
	width: 4px;
	border: 2px solid #fff;
	border-radius: 8px;
}

@keyframes mouse-scroll {

	0% {
		opacity: 0;
	}

	50% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}